/* Style Guide */
/* colours */

.palette-list * {
    color:inherit;
    font-family: monospace;
    text-align: center;
}

.palette-list li {
    padding: 1rem;
    padding: var(--s0);
    border-radius: 0 0 1.44rem 0;
    border-radius: 0 0 var(--s2) 0;
    margin-top: 1.44rem;
    margin-top: var(--s-2);
}

.palette-list li h3 {
    font-size: 1.73rem;
    font-size: var(--s3);
}

/* Sizes */

.measure-example {
    background-color: rgba(227, 222, 222, 1);
    background-color: var(--bon-jour-colour);
    background-image: linear-gradient(to bottom,rgba(208, 2, 27, 1),rgba(208, 2, 27, 1));
    background-image: linear-gradient(to bottom,var(--monza-colour),var(--monza-colour));
    background-position: center center;
    background-size: 100% 0.48rem;
    background-size: 100% var(--s-4);
    background-repeat: no-repeat;
    height: 1rem;
    height: var(--s0);
    display: block;
}

/* measures */

.s-7 {
    width: 0.28rem;
    width: var(--s-7);
}
.s-6 {
    width: 0.33rem;
    width: var(--s-6);
}
.s-5 {
    width: 0.4rem;
    width: var(--s-5);
}
.s-4 {
    width: 0.48rem;
    width: var(--s-4);
}
.s-3 {
    width: 0.58rem;
    width: var(--s-3);
}
.s-2 {
    width: 0.69rem;
    width: var(--s-2);
}
.s-1 {
    width: 0.83rem;
    width: var(--s-1);
}
.s0 {
    width: 1rem;
    width: var(--s0);
}
.s1 {
    width: 1.2rem;
    width: var(--s1);
}
.s2 {
    width: 1.44rem;
    width: var(--s2);
}
.s3 {
    width: 1.73rem;
    width: var(--s3);
}
.s4 {
    width: 2.07rem;
    width: var(--s4);
}
.s5 {
    width: 2.49rem;
    width: var(--s5);
}
.s6 {
    width: 2.99rem;
    width: var(--s6);
}
.s7 {
    width: 3.58rem;
    width: var(--s7);
}

/* Fonts */

.serif {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-family: var(--sans-serif);
}

.monospace {
    font-family: "Lucida Console", Monaco, monospace;
    font-family: var(--monospace);
}

@media (min-width: 501px) {
    .palette-list, .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.69rem;
        grid-gap: var(--s-2);
        max-width: 1280px;
    }

    .palette-list li {
        margin-top: 0;
    }
}

@media screen and (min-width: 1001px) {
    .palette-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}