:root {
    /* defining scales for sizing elements */
    font-size: 0.875rem;
    --ratio: 1.2;
    --s-7: calc(var(--s-6) / var(--ratio));
    --s-6: calc(var(--s-5) / var(--ratio));
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --s6: calc(var(--s5) * var(--ratio));
    --s7: calc(var(--s6) * var(--ratio));
    --clear-header: calc(var(--s3) + 1.5rem + 1rem);

    /* defining fonts to be used */
    --serif: Georgia, serif;
    --sans-serif: "Helvetica Neue", Helvetica, sans-serif;
    --monospace: "Lucida Console", Monaco, monospace;
  
    /* defining the colours to be used */
    /* Colour names from https://chir.ag/projects/name-that-color */
    --monza-colour: rgba(208, 2, 27, 1); /* Monza #D0021B */
    --mariner-colour: rgba(39, 111, 191, 1); /* Mariner #276FBF */
    --niagara-colour: rgba(4, 118, 88, 1); /* Niagara #047658 */
    --alabaster-colour: rgba(250, 249, 249, 1); /* Alabaster #FAF9F9 */
    --cod-gray-colour: rgba(11, 9, 9, 1); /* Cod Gray #0B0909 */
    --amber-colour: rgba(255, 191, 0, 1); /* Amber #FFBF00 */
    --bon-jour-colour: rgba(227, 222, 222, 1); /* Bon Jour #E3DEDE */
    --bazaar-colour: rgba(153, 133, 133, 1); /* Bazaar #998585 */
    --masala-colour: rgba(67, 56, 56, 1); /* Masala #433838 */
    /* defining the 90% opacity colours to be used */
    --monza-90: rgba(208, 2, 27, 0.9); /* Monza #D0021B */
    --mariner-90: rgba(39, 111, 191, 0.9); /* Mariner #276FBF */
    --niagara-90: rgba(4, 118, 88, 0.9); /* Niagara #047658 */
    --alabaster-90: rgba(250, 249, 249, 0.9); /* Alabaster #FAF9F9 */
    --cod-gray-90: rgba(11, 9, 9, 0.9); /* Cod Gray #0B0909 */
    --amber-90: rgba(255, 191, 0, 0.9); /* Amber #FFBF00 */
    --bon-jour-90: rgba(227, 222, 222, 0.9); /* Bon Jour #E3DEDE */
    --bazaar-90: rgba(153, 133, 133, 0.9); /* Bazaar #998585 */
    --masala-90: rgba(67, 56, 56, 0.9); /* Masala #433838 */
    /* defining the 20% opacity colours to be used */
    --monza-20: rgba(208, 2, 27, 0.2); /* Monza #D0021B */
    --mariner-20: rgba(39, 111, 191, 0.2); /* Mariner #276FBF */
    --niagara-20: rgba(4, 118, 88, 0.2); /* Niagara #047658 */
    --alabaster-20: rgba(250, 249, 249, 0.2); /* Alabaster #FAF9F9 */
    --cod-gray-20: rgba(11, 9, 9, 0.2); /* Cod Gray #0B0909 */
    --amber-20: rgba(255, 191, 0, 0.2); /* Amber #FFBF00 */
    --bon-jour-20: rgba(227, 222, 222, 0.2); /* Bon Jour #E3DEDE */
    --bazaar-20: rgba(153, 133, 133, 0.2); /* Bazaar #998585 */
    --masala-20: rgba(67, 56, 56, 0.2); /* Masala #433838 */

    /* Font Weights */
    --light: 200;
    --normal: 400;
    --heavy: 600;

    /* filters */
    --normal-drop-shadow: drop-shadow(0px 5px 10px rgba(11, 9, 9, 0.5));
    --large-drop-shadow: drop-shadow(0px 10px 20px rgba(11, 9, 9, 0.5));
}

/* HTML Element styles */

html {
    font-family: var(--serif);
    font-size: var(--s1);
    font-weight: var(--normal);
}

/* font-weight classes */

.light {
    font-weight: var(--light);
}

.normal {
    font-weight: var(--normal);
}

/* main and content */

main {
    background-color: var(--alabaster-colour);
}
  
article {
    margin: 0 auto 0 auto;
    padding: 0 var(--s-7) var(--s5) var(--s-7);
    max-width: 1280px;
}

article section {
    max-width: 70ch;
    margin: auto;
}
  
.page-header {
    padding: var(--s2) var(--s-7);
    line-height: 1.3;
    background-color: var(--niagara-colour);
}  

.headings {
    margin: 0 auto;
    max-width: 1280px;
    padding: var(--s2);
    background-color: var(--alabaster-90);
    border-radius: 0 0 var(--s4) 0;
}

main a {
   color: var(--mariner-colour);
   background-color: var(--alabaster-colour);
   text-decoration-color: var(--bazaar-90);
   text-decoration-skip: auto;
   text-decoration-thickness: 1px;
   transition: all .2s ease;
}

main a:hover, .hovered {
    color: var(--alabaster-colour);
    background-color: var(--mariner-colour);
    text-decoration-color: var(--monza-colour);
    text-decoration-thickness: 3px;
    transition: all .2s ease;
}

strong, .bold {
    font-weight: var(--heavy);
}

del {
    color: var(--monza-90);
}

ins {
    background-color: var(--niagara-20);
    text-decoration: none;
}

sup, sub {
    font-family: var(--sans-serif);
    font-size: 0.75em;
}

small {
    font-size: 0.75em;
}

abbr[title], dfn[title] {
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: var(--mariner-90);
    cursor: help;
}

q {
    quotes: "“" "”" "‘" "’";
}

mark {
    background-color: var(--amber-colour);
}

code, pre, samp, var, kbd {
    font-family: var(--monospace);
}

code, samp, var {
    background-color: var(--bon-jour-colour);
}

kbd {
    text-transform: uppercase;
    padding: 1px 2px;
    border: 1px;
    border-style: solid;
    border-radius: 3px;
}

::selection, .selected {
    background-color: var(--monza-colour);
    color: var(--alabaster-colour);
}

/* blockquote */

blockquote {
    background-color: var(--bon-jour-90);
    margin: 0 var(--s7);
    padding: var(--s2);
    font-family: var(--sans-serif);
    border-radius: 0 0 var(--s2) 0;
}

blockquote > p {
    line-height: 1.5rem;
}

blockquote > p:first-of-type::before {
    content: "“";
    color: var(--monza-colour);
    font-size: var(--s7);
    padding: 0;
}

blockquote > cite {
    display: block;
    text-align: right;
    margin-top: var(--s2);
}

blockquote > cite > a {
    background-color: var(--bon-jour-90);
}

/* lists */

ul {
    list-style: inside disc;
}

ul ul {
    list-style: inside circle;
}

ol {
    list-style: inside decimal-leading-zero;
}

    ol ol {
    list-style: inside lower-alpha;
}

li::marker, dt {
    color: var(--monza-colour);
    font-weight: var(--heavy);
}

dl {
    display: grid;
    grid-template-columns: 100%;
    -moz-column-gap: var(--s0);
    column-gap: var(--s0);
    row-gap: var(--s1);
    margin-top: 0;
    overflow: hidden;
    grid-template-columns: repeat(2,minmax(min-content,16.67%) 1fr);
}

/* Tables */

table, iframe {
    align-self: flex-start;
}

th:not(:empty) {
    font-family: var(--sans-serif);
    background-color: var(--mariner-colour);
    color: var(--alabaster-colour);
    padding: 0 var(--s-7);
    white-space: nowrap;
}

table.tiger tbody tr:nth-child(2n) td {
    background-color: var(--mariner-20);
}

table.tiger tbody tr:nth-child(2n) th {
    background-color: var(--alabaster-colour);
    color: var(--mariner-colour);
}

figure {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
}

figcaption {
    font-family: var(--sans-serif);
    background-color: var(--monza-colour);
    max-width: 100%;
    padding: var(--s-3);
    color: var(--alabaster-colour);
    border-radius: 0 0 var(--s2) 0;
    width:100%;
}

figcaption a {
    background-color: var(--monza-colour);
    color: var(--alabaster-colour);
    text-decoration: underline;
    text-decoration-color: var(--mariner-colour);
    text-decoration-thickness: var(--s-7);
}

figure audio, figure canvas, figure embed, figure iframe, figure img, figure object, figure picture, figure svg, figure video {
    max-height: 75vh;
    max-width: 100%;
}

/* Forms */

label {
    display: block;
    font-family: var(--sans-serif);
    font-weight: var(--heavy);
    font-size: var(--s3);
    color: var(--mariner-colour);
}

/* headings */

h1, h2, h3, h4, h5, h6, .one, .two, .three, .four, .five, .six {
    font-family: var(--sans-serif);
}

h1, .one, h4, .four {
    color: var(--monza-colour);
}

h2, .two, h5, .five {
    color: var(--mariner-colour);
}

h3, .three, h6, .six {
    color: var(--niagara-colour);
}

h1, .one {
    font-size: var(--s7);
    font-weight: 700;
}

h2, .two {
    font-size: var(--s6);
    font-weight: 700;
}
h3, .three {
    font-size: var(--s5);
    font-weight: 700;
}
h4, .four {
    font-size: var(--s4);
    font-weight: 700;
}
h5, .five {
    font-size: var(--s3);
    font-weight: 700;
}
h6, .six {
    font-size: var(--s2);
    font-weight: 700;
}

.hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    border: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
}

header {
    background-color: var(--monza-colour);
    font-family: var(--monospace);
    font-size: var(--alabaster-colour);
    position: sticky;
    top: 0;
    z-index: 100;
}

header nav {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--s-7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    background-color: #D0021B;
    color: #FAF9F9;
    font-family: 'Courier New';
    font-weight: 700;
    font-size: var(--s2);
    border-radius: 0 0 var(--s1) 0;
    max-height: 0;
    transition: max-height 0.75s ease;
    overflow: hidden;
    position: absolute;
    top: var(--s5);
    filter: var(--normal-drop-shadow);
}

header li {
    margin: 0 var(--s-1);
}

header a {
    color: var(--alabaster-colour);
}

header a:hover, header a:focus {
    color: var(--monza-colour);
    background-color: var(--alabaster-colour);
}

#toggleMenu:checked ~ ul {
    max-height: 500px;
    transition: max-height 0.75s ease;
}

/* Sticky heading 2s */

article section h2,
aside section.toc {
    top: 50px;
    top: var(--s6);
    position: sticky;
    background-color: var(--alabaster-colour);
}

/* footer */
 
footer {
    color: var(--alabaster-colour);
    background-color: var(--cod-gray-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
    padding: 0 var(--s-7);
    font-size: var(--s-1);
}  

footer p a {
    color: var(--amber-colour);
    background-color: inherit;
    text-decoration-color: var(--amber-colour);
}

footer p a:hover {
    color: var(--cod-gray-colour);
    background-color: var(--amber-colour);
    text-decoration: none;
}

.social-icons ul li {
    display: inline;
    padding: var(--s-5);
}
 
.social-icons a {
    background-color: inherit;
    text-decoration: none;
}

.social-icons a svg {
    fill: var(--monza-colour);
    height: var(--s3);
}

.social-icons a:hover svg {
    fill: var(--alabaster-colour);
}

/* media queries */
/* midi size */
@media screen and (min-width: 501px) {
    :root {
        font-size: 1rem;
    }
    header nav ul {
        top: var(--s4);
    }
    article section h2,
    aside section.toc {
        top: var(--s5);
    }
}

/* normal size */
@media screen and (min-width: 701px) {
    :root {
        --ratio:1.25
    }
    header nav ul {
        top: var(--s2);
    }
}

/* menu min size */

@media screen and (min-width: 851px) {
    #hamburger {
        display: none;
    }
    header nav ul {
        border-radius: 0;
        max-height: 60px;
        position: inherit;
        display: inherit;
        margin: 0;
        filter: none;
    }
}

/* large size */
@media screen and (min-width: 1001px) {
    :root {
        font-size: 1.125rem;
    }
    article section h2,
    aside section.toc {
        top: var(--s4);
    }
}

/* massive size */
@media screen and (min-width: 1201px) {
    :root {
        --ratio: 1.3;
    }
}