:root {
    /* defining scales for sizing elements */
    --ratio: 1.2;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    --clear-header: calc(var(--s3) + 1.5rem + 1rem);

    /* defining fonts to be used */
    --serif: Georgia, serif;
    --sans-serif: "Helvetica Neue", Helvetica, sans-serif;
    --monospace: "Lucida Console", Monaco, monospace;
  
    /* defining the colours to be used */
    --red-colour: rgba(208, 2, 27, 1); /* Lava #D0021B */
    --blue-colour: rgba(39, 111, 191, 1); /* Celtic Blue #276FBF */
    --green-colour: rgba(6, 167, 125, 1); /* Green Munsell #06A77D */
    --white-colour: rgba(250, 249, 249, 1); /* Cultured #FAF9F9 */
    --black-colour: rgba(11, 9, 9, 1); /* Rich Black Fogra #0B0909 */
    --yellow-colour: rgba(255, 191, 0, 1); /* Amber #FFBF00 */
    --light-grey-colour: rgba(227, 222, 222, 1); /* Light Grey #E3DEDE */
    --mid-grey-colour: rgba(153, 133, 133, 1); /* Mid Grey #998585 */
    --dark-grey-colour: rgba(67, 56, 56, 1); /* Dark Grey #433838 */
    /* defining the 90% opacity colours to be used */
    --red-90: rgba(208, 2, 27, 0.9); /* Lava #D0021B */
    --blue-90: rgba(39, 111, 191, 0.9); /* Celtic Blue #276FBF */
    --green-90: rgba(6, 167, 125, 0.9); /* Green Munsell #06A77D */
    --white-90: rgba(250, 249, 249, 0.9); /* Cultured #FAF9F9 */
    --black-90: rgba(11, 9, 9, 0.9); /* Rich Black Fogra #0B0909 */
    --yellow-90: rgba(255, 191, 0, 0.9); /* Amber #FFBF00 */
    --light-grey-90: rgba(227, 222, 222, 0.9); /* Light Grey #E3DEDE */
    --mid-grey-90: rgba(153, 133, 133, 0.9); /* Mid Grey #998585 */
    --dark-grey-90: rgba(67, 56, 56, 0.9); /* Dark Grey #433838 */
}

/* HTML Element styles */

html {
    font-family: var(--sans-serif);
}

/* headings */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
}

h1, h4 {
    color: var(--red-colour);
}

h2, h5 {
    color: var(--blue-colour);
}

h3, h6 {
    color: var(--green-colour);
}

h1 {
    font-size: var(--s5);
    font-weight: 700;
}

h2 {
    font-size: var(--s4);
    font-weight: 700;
}
h3 {
    font-size: var(--s3);
    font-weight: 700;
}
h4 {
    font-size: var(--s2);
    font-weight: 700;
}
h5 {
    font-size: var(--s1);
    font-weight: 700;
}
h6 {
    font-size: var(--s-1);
    font-weight: 700;
}

.hidden {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    border: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    white-space: nowrap !important;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(100%) !important;
    clip-path: inset(100%) !important;
}

header {
    background-color: var(--red-colour);
    font-family: var(--monospace);
    font-size: var(--white-colour);
}

header nav {
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--s-2) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    background-color: #D0021B;
    color: #FAF9F9;
    font-family: 'Courier New';
    font-weight: 700;
    font-size: var(--s2);
    border-radius: 0 0 23px 0;
    max-height: 0;
    transition: max-height 0.5s ease;
    overflow: hidden;
    position: absolute;
    top: var(--s4);
}

header li {
    margin: 0 var(--s-1);
}

header a {
    color: var(--white-colour);
}

#toggleMenu:checked ~ ul {
    max-height: 500px;
    transition: max-height 2s ease;
  }

  
/* main and content */

main {
    background-color: var(--green-colour);
}
  
article {
    background-color: var(--white-colour);
}
  
.page-header {
    min-width: 312px;
    max-width: 1280px;
    margin: 0 auto;
    padding: var(--s2) 4px;
    line-height: 1.3;
}  

.headings {
    padding: var(--s2);
    background-color: var(--white-90);
    border-radius: 0 0 var(--s4) 0;
}


/* footer */
 
footer {
    color: var(--white-colour);
    background-color: var(--black-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;
    padding: 0 4px;
    font-size: var(--s-1);
}  

footer p a {
    color: var(--yellow-colour);
}

footer p a:hover {
    color: var(--black-colour);
    background-color: var(--yellow-colour);
}

.social-icons ul li {
    display: inline;
    padding: var(--s-5);
}
  
.social-icons a svg {
    fill: var(--red-colour);
    height: var(--s3);
}

.social-icons a:hover svg {
    fill: var(--white-colour);
}